- @sub0 = ["Events", "/events"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]


- @title = " | "+@sub0[0]
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}
      #banner-bottom



.body
  .center
    .content
      #two.sidebar.right
        .text
          %h1 Contact Us
          %p 
            %sub PHONE
            %br
            281-530-4421
          %p  
            %sub EMAIL
            %br
            info@vacc-houston.org
          %p
            %sub ADDRESS
            %sub=" | "
            %sub
              %a{:href => "http://maps.google.com/maps?q=9750+Bellaire+Blvd.+SUITE+218+Houston,+TX+77036+&hl=en&sll=29.045222,-95.451229&sspn=0.009839,0.008862&vpsrc=0&t=m&z=17"} MAP
            %br
            9750 Bellaire Blvd. SUITE 218
            %br
            Houston, TX 77036
      

      #two.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p
              %b September 29, 2011
              at 6:30pm
              %br
              Soft Opening
            %p
              %b October 14, 2011
              at 10:30 am
              %br
              Press Conference 
            %p
              %b October 20, 2011
              at 11:00 am
              %br
              Kick-Off Party
            %p
              %b November 14-18, 2011
              %br
              Thanksgiving Food Drive
            %p
              %b November 19, 2011
              %br
              Thanksgiving "Feed the Hungry" 
            %p
              %b December 19-23
              %br
              Toys for Tots Drive
            %p
              %b January 2012
              (Exact Date TBD)
              %br
              Tet Luncheon
            %p
              %b February 2012
              (Exact Date TBD)
              %br
              Happy Hour