- @sub0 = ["Members", "/members"]
- @sub1 = ["Become a Member", "becomeamember"]
- @sub2 = ["2012 Annual Membership Benefits", "benefits"]

- @title = " | Contact"
- @subtitle = ""
- @body_class = "seven"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}



.body
  .center
    .content
      #five.sidebar.right
        .subnav
          .link
            %h5 
            %p
              %a{:href => "#"+@sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
        .button
          %h1 Membership Application Form
          .pdf
            %a{:href => "/images/form-member.pdf"}
              %img{:src => "/images/PDF.png"}
              %p View / Download PDF
                

      #five.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "1230", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/p7w6p5/", :width => "100%", :border => "none"}       

          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p
              %b Student Membership - $25.00
              %br
              &mdash; Access to Chamber Events
              %br
              &mdash; 1 Contact on VACC database
              %br
              &mdash; Access to our online member directory
              %br
              &mdash; Access to Educational &amp; Business Development Programs and Seminars
            %p
              %b Individual Membership - $50.00
              %br
              Same as Student Membership
              %i plus:
              %br
              Ability to post jobs on VACC website
            %p
              %b Non-Profit Organization Membership - $75.00
              %br
              Same as Individual Membership
              %i plus:
              %br
              &mdash; 2 Contacts on VACC database
              %br
              &mdash; Free subscription to OUTREACH Magazine and the inFocus Newsletter
              %br
              &mdash; 1 Ticket for VACC Breakfast Event
            %p
              %b Business Membership - $75.00 - $300.00
              %br
              Same as Non-Profit Organization Membership
              %i plus:
              %br
              &mdash; Up to 3 Contacts (based on number of employees) on VACC database
              %br
              &mdash; Business Consulting with the University of Houston Small Business Development Center
              %br
              &mdash; Free listings in VACC official Newcomer's Guide and Membership Directory
              %br
              &mdash; Free listings and referrals to the VACC Chamber's online Business Directory
              %br
              &mdash; Member-to-Member Discounts
              %br
              &mdash; Up to 3 Tickets (based on number of employees) for VACC Breakfast Event
            %p
              %b Gold Membership - $1,000.00
              %br
              Same as Business Membership
              %i plus:
              %br
              &mdash; 5 Contact on VACC database
              %br
              &mdash; Free seats to VACC Technology Forums, Education Action Group Meetings, Business After Hours, and VACC Medical Alliance meetings
              %br
              &mdash; Economic Development Assistance
              %br
              &mdash; Advertising/Publicity and Sponsorship Opportunities
              %br
              &mdash; Business Referrals
              %br
              &mdash; 5 Tickets for VACC Breakfast Event
              %br
              &mdash; 1 Exhibit Table at Breakfast Networking Event
            %p
              %b Platinum Membership - $2,000.00
              %br
              Same as Gold Membership
              %i plus:
              %br
              &mdash; 7 Contact on VACC database
              %br
              &mdash; 7 Tickets for VACC Breakfast Event
              %br
              &mdash; 2 Exhibit Table at Breakfast Networking Event
              %br
              &mdash; Membership Spotlight in VACC Website
              %br
              &mdash; Upgrade in Membership Directory
              %br
              &mdash; Special Wood Plaque and Decal Identifying Membership
              %br
              &mdash; Ribbon Cutting Ceremony - Highlighted on Website
            %p
              %b Chairman Circle Membership - $3,000.00
              %br
              In addition to Platinum Membership benefits, Chairman's Circle members specifically receive:
              %br
              &mdash; 10 Contacts on VACC database 
              %br
              &mdash; 10 Tickets for VACC Breakfast Event
              %br
              &mdash; 3 Exhibit Tables at Breakfast Networking Event
              %br
              &mdash; One free seat at the Chamber’s monthly General Membership Meetings 
              %br
              &mdash; Preferred seating at the Chamber's Annual Awards Dinner and Monthly General Membership Luncheons
              %br
              &mdash; Special recognition at Chamber events
              %br
              &mdash; Free use of Chamber Resource Center, complimentary publications & mailing lists
              %br
              &mdash; Free enhanced listing on the Chamber Web site for your company 
              %br
              &mdash; Unlimited listings in Chamber directory for all company locations and employees
              %br
              &mdash; Reserved parking at the Chamber headquarters facility •	Exclusive opportunity to serve on leadership committees and task forces
              %br
              &mdash; Complimentary professional photography session on site for Directory head shots
              %br
              &mdash; Opportunities for Chairman’s Circle Highlights in the inFocus and Web Site (if available)
              %br
              &mdash; Exclusive meetings with your peers and local and state officials
              %br
              &mdash; Special events and 'ad hoc' reports on issues of particular concern