- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}



.body
  .center
    .content
      #five.sidebar.left
        .text
          %h1 Contact Us
          %p 
            %sub PHONE
            %br
            832-409-1233
          %p 
            %sub FAX
            %br
            832-217-3129
          %p  
            %sub EMAIL
            %br
            info@vacc-houston.org
          %p
            %sub ADDRESS
            %sub=" | "
            %sub
              %a{:href => "http://maps.google.com/maps?q=9750+Bellaire+Blvd.+SUITE+218+Houston,+TX+77036+&hl=en&sll=29.045222,-95.451229&sspn=0.009839,0.008862&vpsrc=0&t=m&z=17"} MAP
            %br
            9750 Bellaire Blvd. SUITE 218
            %br
            Houston, TX 77036
                

      #five.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Contact Form
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "500", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/p7w6k9/", :width => "100%", :border => "none"}       
