- @sub0 = ["Our Partners", "/partners"]
- @sub1 = ["Partners", "partners"]
- @sub2 = ["Corporate Sponsorship", "sponsor"]
- @sub3 = ["Volunteer", "volunteer"]

- @title = " | "+@sub0[0]
- @subtitle = ""
- @body_class = "four"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #four.sidebar.right
        .subnav
          .link
            %h5 
            %p
              %a{:href => "#"+@sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]

      #four.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p 
              %img.logo{:src => "/images/pt-1.jpg"}
              %b Ovalle Media Group
              = " | "
              %a{:href => "http://www.ovallemg.com", :target => "_blank"} Website
              %br
              We are designers and marketing visionaries from different disciplines who will transform an idea to an appealing concept, therefore generating a purchasing interest on your products and services. As a full service creative communication agency we realize projects from start to finish.

          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p.clearfix 
              %img.logo{:src => "/images/cs-1.jpg"}
              %b Golden Bank
              = " | "
              %a{:href => "http://www.goldenbank-na.com", :target => "_blank"} Website
              %br
              Established in 1985, Golden Bank, N.A. (formerly Texas First National Bank) has been growing steadily, building a strong foundation and gaining a reputation as a partner in the community.  Golden Bank is large enough to provide a full range of products for your banking needs.  However, we are small enough to care about providing you with personal attention every day. (Company Profile from goldenbank-na.com)

          .section.no-image
            %p.clearfix
              %img.logo{:src => "/images/cs-2.jpg"}
              %b Cathay Bank
              = " | "
              %a{:href => "http://www.cathaybank.com", :target => "_blank"} Website
              %br
              In 1962, Cathay Bank opened for business with the mission of providing financial services to the growing but underserved Chinese-American community in the greater Los Angeles area, thus becoming the first Chinese-American bank in Southern California. Recognizing that the community it served was part of a more diverse one, Cathay Bank adopted the motto "An Open Door for All." (Company Profile from cathaybank.com)

          .section.no-image
            %p.clearfix
              %img.logo{:src => "/images/cs-3.jpg"}
              %b Primexx Energy Partners
              = " | "
              %a{:href => "http://www.primexx.com", :target => "_blank"} Website
              %br
              Primexx Energy Partners Ltd. is engaged in the acquisition, development and production of domestic oil and gas reserves. The partnership was formed in 2000 to hold the assets of various individual and institutional investors, many of whom were shareholders of Fagadau Energy Corporation. (Company Profile from primexx.com)

          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p Please fill out the form below to get started.
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "575", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/p7w6m7/", :width => "100%", :border => "none"}       
